* {
    margin: 0px;
    background-color: #a4b6d4;
    font-family:'Open Sans';
}
/*link style */
a:hover{
    background-color: black;
    color: seagreen;
}
/* Navigation */
nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    margin: 0px;
    padding: 0px;
    height: 103px;
    background-color: #8c71e8;
}

#nav-list {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    margin: 0px !important;
    padding: 0px !important;
    height: 110px;
    list-style-type: none;
    background-color: #8c71e8;
    position: fixed;
    top: 0;
    left: 0;
    border: rgb(128, 0, 128) solid 5px;
}
@media (max-width: 28.75em) {
    
}
#nav-list a:active {
    color: pink;
  }
#nav-list a {
    display: block;
    font-size: 30px;
    padding: 2.35rem;
    background-color: #8c71e8;
    
}
#nav-list a :hover {
    background: #8c71e8;
}
#nav-list a {
    text-decoration: none;
    color: rgb(209, 92, 92);
}

/* Headers */

h2 {
    color: rgb(209, 92, 92);
    margin: 5px;
    font-size: 36px;
}
h1 {
    font-size: 42px;
    font-style: italic;
    line-height: normal;
    text-align: left;
    color: rgb(209, 92, 92);
    margin: 5px;
}

/* Paragraphs */

p {
    color: rgb(128, 0, 128);
    font-size: 24px;
}
/* Div Rules */
#goals {
    padding: 10px;
    font-size: 24px;
}
#why-us {
    padding: 10px;
}
dl, dd, dt { 
    color: rgb(128, 0, 128);
}
dt {
    font-size: 32px;
}
dd {
    font-size: 24px;
}
ol, ul { 
    color: rgb(128, 0, 128);
}
body {
    margin-top: 105px;
    padding: 10px;
    border: rgb(128, 0, 128) solid 5px;
    height: 100vh;
}
/*footer */
footer{
    display: flex;
    justify-content: center;
}